.uc7-view {
    .file-log {
        font-family: monospace;
        white-space: pre-wrap;
        padding: 8px;
        background: #f4f4f4;
        display: block;
        border-radius: 4px;
    }
}
